/* src/assets/css/style.css*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.5rem;
  width: 100%;
  background-color: black;
  color: lightgray;
}

nav > a {
  display: block;
  padding: 1rem 2rem;
  color: lightgray;
}
nav > a:hover {
  color: aqua;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  min-height: 100vh;
}

main > h1 {
  margin: 2rem 0 0.5rem;
}

main > img {
  border-radius: 5px;
}

footer {
  background-color: black;
  color: lightgray;
  padding: 2rem;
}

.paginate {
  display: flex;
  justify-content: space-around;
  padding-block: 2rem;
  border-bottom: 1px solid gray;
}

ul {
  list-style-type: none;
}
.blog-home {
  display: block;
  margin-top: 1rem;
}

.blog-list {
}
.blog-list-item {
  padding: 1rem;
  box-shadow: 0 1px 3px 0;
  margin-top: 0.5rem;
}

.blog-link {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}
