---
layout: base
title: About
tags: page
order: 2
---

<section>
  {% headers "About Page", "I am a the about page" %}
  <p class="max-w-prose mt-5 mx-auto">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias vero
    deleniti porro ipsam explicabo qui ab mollitia ipsum molestiae illo maxime
    tempore incidunt, est laudantium itaque magni nisi dolor consequatur.
  </p>
</section>
