---
layout: base
title: Blog
tags: page
order: 3
---

<h1>Blog Home</h1>

<ul class="blog-list">
  {% for post in collections.post %}
    <li class="blog-list-item">
      <a href="{{ post.url }}" class="blog-link">{{ post.data.title }}</a>
      <small class="blog-date">{{ post.date | postDate }}</small>
    </li>
  {% endfor %}
</ul>
