---
layout: base
title: Home
tags: page # add this
---

<img src="/assets/images/learn.png" alt="" width='600'>

{# Shortcode in use #}
{% headers "Home", "Learning SSG"%}


<br>

I am a site built with <a href="https://www.11ty.io/">Eleventy</a>

This site is my effort to understand Eleventy. I am doing so by guiding others.

Together, we will Learn Eleventy.
