---
layout: base
title: Home
tags: page # add this
order: 1
---

<img src="/assets/images/learn.png" alt="" width='600'>

{#  Old Shortcode #}
{# {% headers "Home", "Learning SSG"%} #}

{# New Shortcode #}
{% pageHeading  "Home", "Learning SSG with Eleventy"%}


<br>

I am a site built with <a href="https://www.11ty.io/">Eleventy</a>

This site is my effort to understand Eleventy. I am doing so by guiding others.

Together, we will Learn Eleventy, and make something cool along the way.
