<footer class="bg-slate-900 text-slate-50 py-5">
  <small class="text-center block"
    >&copy; 2022 - 2026 Learn Eleventy by
    <a href="https://dantedecodes.vercel.app/" class="text-cyan-300"
      >James 'Dante' Midzi</a
    ></small
  >
</footer>
