<nav>
    {% for item in collections.page %}
    <a href="{{ item.url }}"
    {% if item.url == page.url %}
        aria-current='page' data-state='active'
    {% endif %}
    >{{ item.data.title }}</a>
    {% endfor %}
</nav>

